{"bundle.css" ["bootstrap.min.css" "bootstrap-datepicker.min.css" "jquery.dataTables.min.css" "app.css"]
 "bundle.js"
 ["jquery.min.js" "bootstrap.bundle.min.js" "bootstrap-datepicker.min.js" "jquery.dataTables.min.js" "datepicker.js" ]}
